*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
margin-top: 100px;
z-index: 1000;
background: black;
color: white;
opacity: 0.9;
display: none;
}
.form-container .text{
    padding: 20px;
    margin-right: 30px;
}
.form-container .data{
    padding: 20px;
}
.btn button{
    width:25% ;
    height: 25%;
}
.btn button:hover{
    background: crimson;
    color: white;
}
.form-container input{
    border:1px  solid burlywood ;
    border-radius: 20px;
    width: 50%;
    height: 25px;
}
nav {
   /* background: black;*/
    opacity: 0.9;
    overflow: hidden;
    display: flex;
position: absolute;
z-index: 1000;
}
.data textarea{
    margin-top: 4px;
}
.form-container .close-btn{
    position: absolute;
    right: 20px;
    
}
#show:checked ~ .form-container{

    display: block;

}

input[type="checkbox"]{
    display: none;
}
.form-container{
    border-radius: 20px;
}
.show-button{
    padding: 10px 20px;
    color: white;
    font-size:20px ;
    font-weight: 500;
    position: relative;
    top: 20px;
    right: 4px;
}
nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    display: block;
    float: left;
}
nav a:hover{
    color: burlywood;
}
.flex-align-right {
    margin-left: auto;
}
#hero{
background-image: url(./hero.png);
background-size: cover;
background-position: top center;
/*position: relative;*/
width: 100%;
min-width: 1024px;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color:transparent;
  
animation: text_reveal 0.5s ease forwards;
animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 1.5s;
}
#hero h1:nth-child(3)
{
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span
{
    animation-delay: .3s;

}
#hero h1:nth-child(2) span
{
    animation-delay: .7s;
    
}
#hero h1:nth-child(3) span
{
    
    animation-delay: 1.2s;
    
}
.cta{
display: inline-block;
padding: 10px 30px;
color: crimson;
border: 2px solid crimson;
font-size: 1rem;
background: transparent;
text-transform: uppercase;
letter-spacing:0.1rem ;
margin-top: 30px;
transition: 0.3s ease ;
transition-property: background-color,color;
}
 .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
 .cta:hover{
    color: white;
    background: crimson;
}
/*animation*/
@keyframes text_reveal_box{
    50%{
        width: 100%;
     left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;

    }
}
@keyframes text_reveal_name{
    100%{
        color: cornsilk;
font-weight: 800px;
    }
}

#services .service-top{
font-size: 1.4rem;
margin-top: 5px;
line-height: 2.5rem;
font-weight: 300;
letter-spacing: .05rem;
}
#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 0;
    min-width: 1024px;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item{
    flex-basis: 50%;
    display: flex;
    height: 100%;
    align-items: flex-start;
justify-content: center;
flex-direction: column;
padding: 10px;
background-image: url(/portfolio.jpg);
background-size: cover;
margin: 20px ;
border: black solid 6px;
border-radius: 20px;
position: relative;
z-index: 1;
}
#services .service-title{
font-size: 4em;
font-weight: 300;
color: black;
margin-bottom: 10px;
letter-spacing:.2rem;
text-transform: uppercase;
text-align: center;

}
  span{
    color: crimson;
}

#services .service-item::after{
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;   
 height: 100%;
 background: black;
opacity: 0.5;
z-index: -1;
}
#services .service-bottom .service-item i .photo{
    height:150px;
    width: 60px;

}

#services .service-bottom .service-item h2{
padding: 20px;
margin-bottom: 20px;
}
 #projects .projects{
     flex-direction: column;
   
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px 0;
     min-width: 1024px;
 }
 #projects .projects-header h1{
     margin-bottom: 30px;
     font-size: 80px;
 }
 #projects .all-projects{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }
 #projects .project-item{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 60%;
     overflow: hidden;
     border-radius: 10px;
 }
 #projects .info{
     padding: 30px;
     flex-basis: 50%;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background: rgb(213, 174, 19);
     margin: 10px;
     border-radius: 10px;
 }
 #projects .info h1{
     font-size: 2rem;
     font-weight: 500;
 }
 #projects .info h2{
     font-size: 1.8rem;
     font-weight: 400;
     margin-top: 10px;
 }
 #projects .project-item:hover{
     background: rgb(119, 160, 35);
 }
 #projects{
     height: 100%;
 position: relative;
    }
 #about .about{
     flex-direction: column-reverse;
     text-align: center;
     max-width: 100%;
     margin: 0 auto;
     padding: 100px 0;
    position: relative;
 }
 #about .col-left{
     width: 250px;
     height: 360px;

 }
 #about .col-right{
     width: 100%;
 }
 #about .col-right h2{
     font-size: 1.5rem;
     font-weight: 500;
     letter-spacing:.2rem;
     margin-bottom:10px;
 }
 #about .col-right p{
     margin-bottom: 20px;
 }
 #about .col-left .about-img{
     height: 100%;
     width: 100%;
     position: relative;

 }
 #about .col-left .about-img::after{
     content: "";
     position: absolute;
     left: -33px;
     top: 19px;
     height:98%;
     width: 98%;
     border: 7px solid crimson;
     z-index: -1;
 }
 #about .section-title{
     font-size: 2.5rem;
     font-weight: 500;
     margin-bottom: 10px;
 }
#contact .contact{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
margin: 0 auto;
}

/*#contact .contact-items{
    width: 100%;
}*/
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    margin: 30px;
    justify-content: center;
    flex-direction: column;
   align-items: center;
   flex-basis: 80%;
    box-shadow: 0px 0px 10px 0px;
   
}
 #contact .icon img {
     height: 50px;
     width: 50px;
     margin: 0 auto;
     margin-bottom: 10px;
 }
 #contact .contact-info h1{
     font-size: 2.5rem;
     font-weight: 500;
     margin-bottom: 5px;
 }
 #contact .contact-info h3{
     font-size: 1.3rem;
     line-height: 4 rem;
     font-weight: 500;
 }
 footer{
     background-color: black;
     opacity: 0.9;
     padding-top: 50px;
     flex-direction: column;
     height: 350px;
 }
 footer h1,h2{
     color: white;
 }
 .social-icon{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
 }
 .social-item{
     padding: 20px;
     margin: 10px;
    
 }
.text{
    text-align: center;
   
}
footer p{
    color: blanchedalmond;
    text-align: center;
}
.f-container{
    height: 10vh;
    display: flex;
    align-items: center;

}
.social-item i:hover{
    color:white;
}
header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;

}
header .header{
    min-height: 8vh;
    background: rgba(31,30,30,0.24);
}